*.a
*.lib
*.so
*.dll

1-exec-simple/exec-simple
1-staticLib-simple/__test__library__
2-dynLib-dep/dynlib-dep
2-sourceLib-dep/sourcelib-dep
2-staticLib-dep/staticlib-dep
custom-unittest/custom-unittest
path-subpackage-ref/test
subpackage-ref/test
subpackage-common-with-sourcefile-globbing/mypackage*
version-spec/**/CMakeLists.txt
version-spec/**/foo.cmake
version-spec/**/foo

/test_registry
/issue_2051_running_unittests_from_dub_single_file_packages_fails
/run-unittest

test.log
custom-source-main-bug487/custom-source-main-bug487
3-copyFiles/bin/
ignore-hidden-1/ignore-hidden-1
ignore-hidden-2/ignore-hidden-2
expected-import-path-output
expected-string-import-path-output
expected-describe-data-1-list-output
expected-describe-data-2-dmd-output
expected-issue616-output
describe-project/dummy.dat
describe-project/dummy-dep1.dat
*/main/main
*/*test-library
*/*test-application
*/exec-simple
issue1474/ext/fortytwo.d

cov-ctfe/test
issue1003-check-empty-ld-flags/issue1003-empty-ld-flags
issue1053-extra-files-visuald/LICENSE.txt
issue1053-extra-files-visuald/README.txt
issue1053-extra-files-visuald/extra_files.sln
issue1117-extra-dependency-files/test
issue1396-pre-post-run-commands/test
issue1396-pre-post-run-commands/test.txt
issue1477-subpackage-visuald-paths/library_subpackage_a.sln
issue1477-subpackage-visuald-paths/sub/subpackage_a/subpackage_a.sln
issue1504-envvar-in-path/test
issue1773-lint/report.json
issue2085-target-none-visuald/root.sln
issue2086-copyfiles-subpackage-targetpath/sub/sub
issue2086-copyfiles-subpackage-targetpath/sub/to_be_deployed.txt
issue2262-exact-cached-version-match/testproj
issue361-optional-deps/cmp.tmp
issue838-custom-cache-paths/test
issue97-targettype-none/a/issue97-targettype-none_a
issue97-targettype-none/b/issue97-targettype-none_b
issue990-download-optional-selected/b
output-1504.txt
version-filters-diamond/version-filters-diamond
version-filters-none/version-filters-none
version-filters-source-dep/version-filters-source-dep
version-filters/version-filters
version-spec/newfoo/foo-test-application
version-spec/oldfoo/foo-test-application
