.dub
docs.json
__dummy.html
docs/
/subpkg3
subpkg3.so
subpkg3.dylib
subpkg3.dll
subpkg3.a
subpkg3.lib
subpkg3-test-*
rootpkg-subpkg3.so
rootpkg-subpkg3.dylib
rootpkg-subpkg3.dll
rootpkg-subpkg3.a
rootpkg-subpkg3.lib
rootpkg-subpkg3-test-*
*.exe
*.o
*.obj
*.lst
