.dub
docs.json
__dummy.html
docs/
/issue2684-recipe-file
issue2684-recipe-file.so
issue2684-recipe-file.dylib
issue2684-recipe-file.dll
issue2684-recipe-file.a
issue2684-recipe-file.lib
issue2684-recipe-file-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
